
.divLinks {
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 50px;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700px;
    letter-spacing: 4px;
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    
    
  }

.link {
    margin-right: 50px;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.link:hover {
    opacity: 0.5;
}

.Navbar{
    position:relative;
    height: 100%;
    overflow: auto;
}