
footer#Footer {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: darkred;
    
    position: relative;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0%;
}

h2 {
    padding: 30px;
    color: white;
    text-align: left;
}