
footer#Footer {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: darkred;
    min-height: 100px;
}

.footerText {
    padding: 30px;
    color: white;
    text-align: left;
}